.title {
    text-align: center;
}

@media screen and (width <=200px) {
    .title {
          font-size: 16px;
    }
}

@media screen and (width >=400px) {
    .title {
        font-size: 32px;
    }
}

@media screen and (width >=200px) and (width <=400px) {
    .title {
        font-size: calc(100vw / 12.5)
    }
}