/* 方案1 display */

/* .outer{
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* 方案二 */

/* .outer{
    position: relative;
}
.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

/* 方案三 */

/* .inner{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

/* 方案四 */
.outer{
    display: table;
}

.inner{
    display: table-cell;
    vertical-align: middle;
}