
/* 方案一 
    宽度继承父级元素高度
    高度 利用盒子内边距相对对象为父级元素的宽度的特性， 
     细节点，padding-bottom padding-top的相对是相对于父元素的宽度而不是高度，盒子的宽高都是相对于父元素的一个确定的元素值，因而可以确定比例
     */

.a {
    width: 50%;
    height: 0;
    padding: 0;
    padding-bottom: 25%;
    background: tomato;

  }

  /* 方案二:利用新属性 aspect-ratio  */
  .b{
    aspect-ratio: 4/3;
    height: 60px;
    background-color: gray;
  }

  /* 宽高比 4/3  */